*{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
h1{
    font-size: 1em;
}

.nav{
    height: 50px;
    width: 100%;
    background-color: rgb(119, 176, 241);
    display: flex;
    align-items: center;
}

.logo{
    height: 40px;
    width: 40px;
    margin-left: 10PX;
} 
.brand-name{
    height: auto;
    margin-left: 20PX;
}


.logo-img{
    height: 40px;
    width: 40px;
    position: relative;
    /* top: 25px; */
}
.brand-name-img{
    height: auto;
    height: 10PX;

}
.nav-two{
    height: 30px;
    background-color: aquamarine;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10PX;
    
}
/* .about-us{
    border: 2px solid black;
    height: 20px;
    width: 50px;
    margin-left: 10PX;
}
.contact-us{
    border: 2px solid black;
    height: 20px;
    width: 50px;
} */

#about-us {
    /* Button styles */
    height: 20px;
    width: 60px;
    background-color: #4CAF50; /* Green */
    color: white;
    /* padding: 1px 1px;  */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }

  #about-us:hover {
    background-color: #367c39; /* Darker green */
  }

  #about-us-container {
    /* Container styles */
    height: auto;
    min-height: 20px;
    width:fit-content;
    display: none; /* Initially hidden */
    padding: 20px;
    margin-top: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1em;
    position: relative;
    top: 120px;
  }

  #contact-us {
    /* Button styles */
    height: 20px;
    width: 60px;
    background-color: #4CAF50; /* Green */
    color: white;
    /* padding: 1px 1px;  */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }

  #contact-us:hover {
    background-color: #367c39; /* Darker green */
  }

  #contact-us-container {
    /* Container styles */
    
    height: auto;
    min-height: 20px;
    width:fit-content;
    display: none; /* Initially hidden */
    padding: 20px;
    margin-top: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1em;
    position: relative;
    top: 80px;
  }

  .category-container{
    height: 150px;
    background-color: aqua;
    margin: 25px 0px;
    display: flex;
  }

.category-img{            
    height: 100px;

  }

@media only screen and (max-width: 450px) {
    .nav{
        height: 50px;
        width: 450px;
        background-color: rgb(119, 176, 241);
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .logo{
        height: 40px;
        width: 40px;
        margin-left: 10PX;
    } 
    .brand-name{
        height: auto;
        margin-left: 15PX;
    }
    
    .logo-img {
        height: 40px;
        width: 40px;
        position: relative;
        /* top:65px; */
      
    }
    .brand-name-img{
        height: 15px;
        /* position: relative; */
        /* right: 100px;  */
    }
    .nav-two{
        height: 30px;
        width: 450px;
        background-color: aquamarine;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    /* .about-us{
        border: 2px solid black;
        height: 35px;
        width: 100px;
    }
    .contact-us{
        border: 2px solid black;
        height: 35px;
        width: 100px;
    } */
  }
